<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <f:for each="{footer}" as="footerItem">

                        <li>
                            <f:link.external uri="{footerItem.link}">
                               <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa {footerItem.icon} fa-stack-1x fa-inverse"></i>
                                </span>
                            </f:link.external>
                        </li>
                    </f:for>
                </ul>
                <p class="copyright text-muted">{copyright->f:format.html(parseFuncTSPath:'lib.parseFunc')}</p>
            </div>
        </div>
    </div>
</footer>