
<label for="title">
	<f:translate key="tx_cleanblog_domain_model_network.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="link">
	<f:translate key="tx_cleanblog_domain_model_network.link" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="link" /><br />
<label for="icon">
	<f:translate key="tx_cleanblog_domain_model_network.icon" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="icon" /><br />